{% extends 'base.html' %}
{% load static %}
{% block availabletools_active %} nav-item dropdown active {% endblock %}

{% block content %}
<main role="main">
  <br>
  <div class="container">
    <h1>Available Tools</h1>
    <div class="tool-grid">
      {% if available_tools %}
        {% for tool in available_tools %}
          <div class="tool-container">
            {% if user.is_authenticated %}
                <a href="{% url 'toolpage' tool.id %}">
                <img height="150px" width="auto" src="{{ tool.tool_image }}"/>
                <h4>{{ tool.type }}</h4>
                Total: {{ tool.available }}
                <br>
                Rental fee: ${{ tool.price }}
                </a>
            {% else %}
                <img height="150px" width="auto" src="{{ tool.tool_image }}"/>
                <h4>{{ tool.type }}</h4>
                Total: {{ tool.available }}
                <br>
                Rental fee: ${{ tool.price }}
            {% endif %}
          </div>
        {% endfor %}

      {% else %}
        <p> There are no available tools. </p>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}