{% extends 'base.html' %}
{% load static %}

{% block content %}
<main role="main">
  <div class="container">
    <br>
    <h1>Create Tool Category</h1>
    <form action="/tools/create" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="form_name">Tool Name</label>
        <input id="form_name" type="text" name="name" class="form-control" placeholder="Tool Name" required="required" data-error="Tool name is required.">
        <br>
        <label for="form_name">Quantity</label>
        <input id="form_name" type="number" name="quantity" class="form-control" placeholder="Quantity" required="required" data-error="Quantity is required.">
        <br>
        <label for="form_name">Price</label>
        <input id="form_name" type="number" min="1" step="any" name="price" class="form-control" placeholder="Price" required="required" data-error="Price is required.">
        <br>
        <label for="form_name">Image URL</label>
        <input id="form_name" type="text" name="img" class="form-control" placeholder="Image URL" required="required" data-error="Image is required.">
        <br>
        <input type="submit" class="btn btn-success btn-send" value="Create Tool Category">
    </form>
  </div>
</main>
{% endblock %}