{% extends 'base.html' %}
{% load static %}
{% block history_active %} nav-item active {% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <br>
    <h1>Transaction History</h1>
    <div class="line-break"></div>
    {% if history %}
      <div class="history-title">Checked In</div>
      <table class="history-table">
        <tr>
          <th>Name</th>
          <th>Placed On</th>
          <th>Returned</th>
          <th>Total Charge</th>
          <th>Tools Returned</th>
        </tr>
      {% for transaction in history %}
        {% if transaction.state == "Checked In" %}
            <tr>
              <td style="text-transform: capitalize;">{{ transaction.customer }}</td>
              <td>{{ transaction.date_bought|date:"M d, Y" }}</td>
              <td>{{ transaction.date_returned|date:"M d, Y" }}</td>
              <td>${{transaction.price}}</td>
              <td style="text-transform: capitalize;">{{transaction.tools}}</td>
            </tr>
        {% endif %}
      {% endfor %}
      </table>

      <div class="history-title">Checked Out</div>
      <table class="history-table">
        <tr>
          <th>Name</th>
          <th>Placed On</th>
          <th>Total Charge</th>
          <th>Tools Rented</th>
        </tr>
      {% for transaction in history %}
        {% if transaction.state == "Checked Out" %}
            <tr>
              <td style="text-transform: capitalize;">{{ transaction.customer }}</td>
              <td>{{ transaction.date_bought|date:"M d, Y" }}</td>
              <td>${{transaction.price}}</td>
              <td style="text-transform: capitalize;">{{transaction.tools}}</td>
            </tr>
        {% endif %}
      {% endfor %}
      </table>
    {% else %}
      <p>No Transactions made yet</p>
    {% endif %}
  </div>
</main>
{% endblock %}