<!doctype html>

{% load static %}
<html lang="zxx">

<head>
  <meta charset="utf-8">

  <title>Index</title>
  <link rel="stylesheet" href="{% static 'tools/styles.css' %}" type="text/css"/>

</head>

<body>
  <header class="fixed-top">
    <nav class="navbar">
      <a class="navbar-brand" href="#">ToolShop</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-items">
          <li class="nav-item">
            <a class="nav-link" href="/tools/index">All Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tools/available">Available Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Checked out Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Overdue Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History</a>
          </li>
          </ul>
      </div>
    </nav>
  </header>
    
  <h1>List of Tools</h1>
{% if tools_list %}
  {% for category in tools_list %}
    <br>
    <h4 style="font-size: large">{{ category.type }}</h4>
    <p style="font-size: large">Total Available: {{ category.available }}</p>
    <p style="font-size: large">Checked Out: {{ category.unavailable }}</p>
    <p style="font-size: large">Price without membership: ${{ category.price }}.00</p>
  {% endfor %}

{% else %}
  <p>No tools are in the database</p>
{% endif %}
</body>
</html>