{% extends 'base.html' %}
{% load static %}

{% block content %}
<main role="main">
  <div class="container">
    <br>
    <h1 style="text-transform: capitalize;">{{tool.type}}</h1>
    <img height="300px" width="auto" src="{{ tool.tool_image }}"/>
    <p>Available: {{tool.available}}</p>
    <p>Checked out: {{tool.unavailable}}</p>
    <p>Price: ${{tool.price}}</p>
    <button id="editbutton" class="btn btn-outline-secondary" onclick="opencloseForm()">Edit</button>
    <a href="{% url 'delete_tool' tool.id %}" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
    <br>
    <br>
    <div class="form-popup" id="editForm">
      <form action="{% url 'edit_tool' tool.id %}" method="post" class="form-container">
        <h2>Edit Tool</h2>
        {% csrf_token %}
        <label for="form_name">Tool Name</label>
        <input id="form_name" type="text" name="name" class="form-control" placeholder="Tool Name" value="{{tool.type}}" required="required" data-error="Tool name is required.">
        <br>
        <label for="form_name">Quantity</label>
        <input id="form_name" type="number" name="quantity" class="form-control" placeholder="Quantity" value="{{tool.available}}" required="required" data-error="Quantity is required.">
          <br>
        <label for="form_name">Price</label>
        <input id="form_name" type="number" min="1" step="any" name="price" class="form-control" placeholder="Price" value="{{tool.price}}" required="required" data-error="Price is required.">
          <br>
        <label for="form_name">Image URL</label>
        <input id="form_name" type="text" name="img" class="form-control" placeholder="Image URL" value="{{tool.tool_image}}" required="required" data-error="Image is required.">
          <br>
        <input type="submit" class="btn btn-success btn-send" value="Submit Edit">
      </form>
    </div>

    <script>
    let open = true;
    document.getElementById("editForm").style.display = "none";
    function opencloseForm() {
        if (open) {
            document.getElementById("editForm").style.display = "block";
            document.getElementById("editbutton").textContent = "Close Edit";
            open = false;
        } else {
            document.getElementById("editForm").style.display = "none";
            document.getElementById("editbutton").textContent = "Edit";
            open = true
        }
    }
    </script>
  </div>
</main>
{% endblock %}