body {
    min-height:100vh;
}

.navbar-brand {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
}

main .container {
    margin-bottom: 30px;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 15px;
}

.tool-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-grid;
    padding: 15px 30px 15px 30px;
    margin-bottom: 15px;
}

.tool-container h4 {
    text-transform: capitalize;
    font-size: large;
    text-align: center;
}

.tool-container .fee {
    text-align: center;
}

.tool-container img {
    margin-bottom: 8px;
}

.tool-container .unavailable-text {
    display: none;
}

.tool-container-unavailable {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-grid;
    padding: 15px 30px 15px 30px;
    margin-bottom: 15px;
}

.tool-container-unavailable .fee {
    text-align: center;
    text-decoration: line-through;
}

.tool-container-unavailable img {
    filter: grayscale(100%);
    margin-bottom: 8px;
}

.tool-container-unavailable h4 {
    text-transform: capitalize;
    font-size: large;
    text-align: center;
}

.tool-container-unavailable .popButton {
    display: none;
}

.tool-container-unavailable .unavailable-text {
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

.tool-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-content: start;
    margin-top: 20px;
}

.tool-grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-content: start;
    margin-top: 20px;
}

.cart-container {
    display: inline-block;
    overflow: hidden;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.cart-container-checkout {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.chkBtn {
    margin-top: 40px;
}

.img-container {
    float: left;
    width: 215px;
    display: flex;
    justify-content: center;
}

.cart-image {
    float: left;
    margin: 15px;
}

.cart-item {
    float: left;
    margin: 10px;
    text-transform: capitalize;
}

.cart-item-checkout {
    float: left;
    margin: 10px;
    text-transform: capitalize;
    font-size: 18px;
}

.checkout-price {
    float: right;
    margin: 10px;
    font-size: 18px;
}

.empty-cart {
    padding: 15px 15px 15px 25px;
    font-size: 14px;
}

.checkout-button {
    float: left;
    margin-top: 1px;
    padding: 8px 0px 0px 8px;
}

.checkout-container {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.form-popup {
    width: 100%;
}

.line-break {
    height: 1px;
    background-color: #d6d6d6;
}

.logo {
    padding-right: 10px;
}

.subtotal {
    float: right;
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.btn-outline-info {
    color: #4180CB;
    border-color: #4180CB;
}

.btn-outline-info:hover {
    color: white;
    background-color: #4180CB;
    border-color: #4180CB;
}

.heading-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading-text{
    flex-grow: 0;
    font-size: 30px;
    font-weight: 500;
}

.divider{
    flex-grow: 1;
    margin-left: 12px;
    margin-top: 5px;
    height: 1px;
    background-color: #d6d6d6;
}

.about-text {
    margin: 8px 10px 20px 10px;
}

.dropdown-menu {
    margin-bottom: 15px;
}


/* FOOTER CSS */
.footer {
  background: #343a40;
  color: white;
}

.footer .links ul {
  list-style-type: none;
}

.footer .links li a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}

.footer .about-company i {
  font-size: 25px;
}

.footer .about-company a {
  color: #4180CB;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.footer .about-company a:hover {
  color: white;
}

.footer .location i {
  font-size: 18px;
}

.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-heading {
  margin-bottom: 1em;
}

.logo-heading img {
  float: left;
}

.logo-heading h1 {
  position: relative;
  top: 18px;
  left: 10px;
}